{% extends "base.jinja" %}
{% block main %}
<main>
    {% include "includes/asset_summary.jinja" %}

    <div class="inner row">
        <div>
            <h1>Pending assignments – {{ asset.pending_assignments | length }}</h1>
            <div class="small tight-top">Select assignments from the list to create a new distribution</div>
        </div>
        <a class="btn tight-right" href="{{ url_for('new_assignment', asset_uuid=asset.asset_uuid) }}"><img src="{{ url_for('static', filename='img/add.svg') }}"/> New assignment</a>
    </div>
    <table class="table">
        <thead><tr>
            <th>ID</th>
            <th>User</th>
            <th>Amount</th>
            <th>Status</th>
            <th width="200px"><!-- Actions --></th>
        </tr></thead>
        <tbody>
            {# <form action="{{url_for('new_assignment', asset_uuid=asset.asset_uuid)}}" method="POST">
            <tr>
                <td><img class="tiny" src="{{ url_for('static', filename='img/add.svg') }}"/></td>
                <td>
                    <div class="custom-select">
                    <select name="registered_user">
                        <option value="">Please select a user</option>
                        {% for uid, user in amp.users.items() %}
                        <option value="{{uid}}">{{user['name']}} – {{user['GAID']}}</option>
                        {% endfor %}
                    </select>
                    </div>
                </td>
                <td><input type="number" placeholder="amount" name="amount"/></td>
                <td>
                    <label for="ready_for_distribution" class="inline">
                        <input type="checkbox" checked id="ready_for_distribution" name="ready_for_distribution">
                        <div>Ready for distribution</div>
                    </label>
                </td>
                <td>
                    <button type="submit" class="btn" name="submit"><img class="tiny" src="{{ url_for('static', filename='img/add.svg') }}"/> Create assignment</button>
                </td>
            </tr>
            </form> #}
        {% if not asset.pending_assignments %}
            <tr><td colspan=5>No pending assignments</td></tr>
        {% endif %}
        {% for ass in asset.pending_assignments %}
            <tr>
                <td>{{ass['id']}}</td>
                <td>{{amp.users[ass['registered_user']]['name']}}</td>
                <td>{{ass['amount']}}</td>
                <td>{{'Ready' if ass['ready_for_distribution'] else 'Locked'}}</td>
                <td class="onhover" width="300px" style="text-align: right">
                    {% if ass['ready_for_distribution'] %}
                    <a href="#" class="btn"><img class="tiny" src="{{ url_for('static', filename='img/lock.svg') }}"/> Lock</a>
                    {% else %}
                    <a href="#" class="btn"><img class="tiny" src="{{ url_for('static', filename='img/unlock.svg') }}"/> Unlock</a>
                    {% endif %}
                    <a href="#" class="btn danger"><img class="tiny" src="{{ url_for('static', filename='img/delete.svg') }}"/> Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr/>

    <div class="row inner">
        <div>
            <h1>Unconfirmed distributions – {{ asset.unconfirmed_distributions | length }}</h1>
            <div class="small tight-top">Select distributions from the list to sign and broadcast</div>
        </div>
        <a class="btn tight-right" href="{{ url_for('new_distribution', asset_uuid=asset.asset_uuid) }}"><img src="{{ url_for('static', filename='img/add.svg') }}"/> New distribution</a>
    </div>
    <table class="table">
        <thead><tr>
            <th>ID</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Transactions</th>
            <th>Users</th>
        </tr></thead>
        <tbody>
        {% if not asset.unconfirmed_distributions %}
            <tr><td colspan=5>No unconfirmed distributions</td></tr>
        {% endif %}
        {% for dist in asset.unconfirmed_distributions %}
            <tr>
                <td>123456</td>
                <td>Draft</td>
                <td>321.38</td>
                <td>1</td>
                <td>3</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr/>

</main>
{% endblock %}