<!DOCTYPE html>
<html>
<head>
<title>AMP issuer</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% block head %}
{% endblock %}
</head>

<body>
{% block sidebar %}
{% include "components/sidebar.jinja" %}
{% endblock %}

{% block main %}
{% endblock %}

{% block scripts %}
{% endblock %}
</body>
</html>