{% extends "base.jinja" %}
{% block main %}
<main>
    <h1>User {{user.id}}</h1>
    <p><small>Name:</small><br>
        {% if user['is_company'] %}
        <img src="{{url_for('static', filename='img/company.svg')}}" width="25px" style="vertical-align: text-bottom;"/>
        {% else %}
        <img src="{{url_for('static', filename='img/person.svg')}}" width="25px" style="vertical-align: text-bottom;"/>
        {% endif %}
        {{user.name}}
    </p>
    <p><small>GAID:</small><br>{{user.GAID}}</p>
    <h1>Categories</h1>
    <form action="./" method="POST">
    <table class="table">
        <thead><tr>
            <th width="50px">&nbsp;</th>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Assets</th>
        </tr></thead>
        <tbody>
        {% if not amp.categories %}
            <tr><td colspan=5>No categories</td></tr>
        {% endif %}
        {% for cid, category in amp.categories.items() %}
            <tr>
                <td><input style="width: 20px; min-width: 20px;" name="cid_{{cid}}" type="checkbox" {{ 'checked' if cid in user['categories'] else '' }}></td>
                <td>{{ category['id'] }}</td>
                <td>{{ category['name'] }}</td>
                <td>{{ category['description'] }}</td>
                <td>
                    {% for aid in category['assets'] %}
                    <a class="tag">{{ amp.assets[aid].ticker }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="submit" name="action" value="update_categories">Update categories</button>
    </form>
{% endblock %}