{% extends "ampissuer/base.jinja" %}
{% block main %}
<main>
    <img src="{{ url_for(service.id +'_endpoint' + '.static', filename=service.logo) }}" width="100"/>  
    <br>  
    {% from 'ampissuer/components/ampissuer_menu.jinja' import ampissuer_menu with context %}
    {{ ampissuer_menu(tab) }}
    <br>
    {% block content %}
    {% endblock %}
</main>
{% endblock %}