{% extends "ampissuer/base.jinja" %}
{% block main %}
<main>
    <div class="row inner">
        <h1>Assets</h1>
        <a class="btn tight-right" href="{{ url_for('ampissuer_endpoint.new_rawasset') }}"><img src="{{ url_for('ampissuer_endpoint.static', filename='ampissuer/img/add.svg') }}"/> New asset</a>
    </div>
    {% for aid, asset in amp.rawassets.items() %}
    <div class="summary">
        <a href="#">{{ asset.ticker }} – {{ asset.name }}</a><br>
        <small>Asset Id: {{ asset.asset_id }}</small>
        <hr/>
        <div class="row even">
            <div>
                <h2>General information</h2>
                <table class="labeled">
                    <tr><td>Type:</td><td>Standard asset</td></tr>
                    <tr><td>Status:</td><td>{{asset.status}}</td></tr>
                    <tr><td>Treasury:</td><td>Elements Core (default)</td></tr>
                    <tr><td>Balance:</td><td>{{asset.balance()['trusted']}}</td></tr>
                </table>
            </div>
            <div>
                <h2>Registry information</h2>
                {% set summary = asset.get("chain_stats", {}) %}
                <table class="labeled">
                    <tr><td>Issued total:</td><td>{{ summary.get('issued_amount', "???") }} </td></tr>
                    <tr><td>Reissuance:</td><td>{{ summary.get('reissuance_tokens', "???") }}</td></tr>
                    <tr><td>Burned:</td><td>{{ summary.get('burned_amount', "???") }}</td></tr>
                </table>
            </div>
            <div>
                <h2>&nbsp;</h2>
            </div>
        </div>
        <div class="actions right">
            <a href="#">Settings</a>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}